@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: black;
  font-family: sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  display: none;
}
